*.DS_Store
*.python-version
*.bak
book-*-cleaned.json
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
!styles-tex/index_style.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.synctex(busy)
*.atfi
*.pytxcode
*.sta
*.fdb_latexmk
*.fls
*.pyg
_minted*
.python-version
.DS_Store
*.output
*.bcf
*.xsim
*.listing